
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*     {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
    scroll-behavior : smooth;
  }
  body {
    font-family :'Lora', serif;
    font-size : 18px;
    line-height : 1.2;
    background-color: #fbfbfb;
    color: #090909;
    
  }
  header {
    display : flex;
    justify-content : space-between;
    align-items: center;
    background-color : #f7cef6; 
    margin : auto;
    font-size : 20px;
    width : 100%;
    height : 120px;
  }

  a {
    text-decoration : none;
    color : inherit;
  }
 
  #logo {
    border-radius: 50%;
    box-shadow: 10px 5px 5px #c5b0c5b6;
    margin-left: 12px;
    }
/*movile*/

  /*navegacion */

  html {
    font-size: 25%;
  }
  
  li.menu-item {
    display: inline-block;
    color: black;
    font-size: 25px;
    position: relative;
    margin: 20px;
  }
 
  li.menu-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
  }
  
  li.menu-item:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
  }
 #luna{
  margin: 20px;
  border-radius: 30%;
  border-color: rgb(237, 125, 224);
  display: end;
 }
/*mi foto*/

.imagen {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  max-width: 250px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow : 10px 8px 20px #c5b0c5b6;
 
}

/*Inicio*/

#inicio {
  display : flex;
  flex-direction : column;
  background-color : #f1e4f4;
  text-align : center;
  padding : 20px;
  background-size: 100%;
}

.presentacion{
  font-size:20px;
  justify-content : center;
  padding : 20px;
}

h1{
  text-align:center;
  box-sizing: border-box;
  font-size: 22px;
  }
  
h2{
  font-size: 20px;
  text-align: center;
  }
      
p{ 
  font-size:20px;
  justify-content : center;
  padding : 20px;
  font-family:"lora", Sans-serif;
  color : black;
  }

div.cv {
  text-align : center;
  background-color :#d084d3;
  box-shadow :10px 8px 20px #330f45;
  font-family:'Lora', serif;   
  color: #090909;
  padding: 10px;
  font-size: 20px;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  margin-top: auto;

}
 /*section contacto*/
#contacto {
  display : block;
  background-color :  #f1e4f4;
  margin : 40px;
  padding : 20px;
  text-align : center;
  border-radius : 20px;
}
.redes {
  text-align : center;
  list-style : none;
  border-radius: 5%;
}
li.redes {
  display : inline-block;
  width : 100px;
  padding : 20px 20px; 
}

.footer {
  color : white;
  background-color : #af599e;
  text-align : center;
  padding : 20px;
}
a {
  text-decoration : none;
  color : inherit;
}
main {
  max-width : 100%;
  margin : auto;
}

 
/*Boton burger*/

#menu-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 26px;
  width: 40px;
  
}

img#close-menu{
display: none;
}

nav{
display: none;

}

body.mobile-menu-active img#close-menu {
display: block;

}
body.mobile-menu-active img#open-menu {
 display : none;
}
body.mobile-menu-active header {
 height : 30vh;
 flex-wrap : wrap;
 align-items : flex-start;
 transition : height 0.3s;
}
body.mobile-menu-active nav {
 display:inline-block;
 text-align: center;
 width : 100%;
 height : 50%;

}
body.mobile-menu-active ul#menu {
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 height : 100%;
}


/*modo Destok*/


@media(min-width : 1024px) 
 
{
  
  #inicio {
    
    flex-direction : row;
    justify-content: center;
    background-color : #f1e4f4;
    padding : 5%
   
  }
  
  .presentacion{
    font-size:20px;
    justify-content : center;
    padding : 20px;
  }
  
  #contacto{
    flex-direction : row;
    justify-content: center;
    background-color : #f1e4f4;
    padding : 5%
   
  }

  h1{
    text-align:center;
    box-sizing: border-box;
    font-size: 48px;
    }
    
  h2{
    font-size: 32px;
    text-align: center;
    }
  h3{
      font-size: 28px;
      text-align: center;
      padding-top: 50px;
    }    
  p{ 
    font-size:28px;
    justify-content : center;
    padding : 20px;
    font-family:"lora", Sans-serif;
    color : black;
   }
  
  div.cv {
    text-align : center;
    background-color :#d084d3;
    box-shadow :10px 8px 20px #330f45;
    font-family:'Lora', serif;   
    color: #090909;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    margin-top: auto;
  
  }
  
  .redes {
    text-align : center;
    list-style : none;
  }
  li.redes {
    display : inline-block;
    width : 200px;
    padding : 20px 20px; 
  }
  
  .footer {
    color : white;
    background-color : #af599e;
    text-align : center;
    padding : 20px;
  }
  
  .imagen {
width : 100%;
max-width : 800px;
}

h1 {
 font-size : 48px;
}
h2{
  font-size:32px;
}

p {
 margin : 16px 0;
 padding : 20px
}

section#inicio {
 flex-direction: row;
 justify-content : center;
 padding : 5%;
}

.presentacion {
 width : 50%;
 
}

#contacto{
  margin: 80px 80px;
}

#open-menu {
 display : none;
 
}
nav {
  display : block;
  justify-content : flex-end;
 
 }

.cv {
 
display:flex;
flex-direction: column;
 background-color : #af599e;
 margin : 0;
 padding : 20%;
 border-radius : 20px;
 color : white;
 width: 30%;
}

                                                
}
  /* modo oscuro*/
  body.dark-mode {
    background-color:  #170d18 ;
    color: #FFFFFF;
  }
  
body.dark-mode header {
    background-color: #170d1800 ;
    color: #FFFFFF;
    box-shadow: 0 20px 12px -5px #502b82;
    
  }

  body.dark-mode #fotografia{
   border: 20px solid #cd9dc1; 
  }

  body.dark-mode #menu-btn{
    border-radius: 10px;
    background: #c3a3e8c6;
  }
  body.dark-mode .cv{
    background-color: #3f2576;
    color: #ffffff;   
}

body.dark-mode #contacto{
    background-color:  #201155;
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}

body.dark-mode .footer{
    background-color: #170d18;
    color: #ffffff;
    text-align: center;
    padding: 22px;
}
body.dark-mode .redes{
    background: #454da7;
    border-radius: 5%;
   
    }

 body.dark-mode .li.menu-item{
        color: #ffffff;
        background: transparent;
    }  

    body.dark-mode p{
      color: #ffffff; 

    }

    body.dark-mode #inicio{
      background-image: url(https://mcdn.wallpapersafari.com/medium/14/57/i4Vlef.jpg);
      background-color: #461e48; 
      background-size: cover;
      
    }

    body.dark-mode li.menu-item {
      color: #ffffff;
    }

    body.dark-mode #luna{
      border-color: yellow;
     }
